extends layout

block head
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  link(rel='stylesheet', type='text/css', href='/css/home.css')
  script(src='/js/home.js')
  meta(name='viewport', content='width=device-width, initial-scale=1')


block content
 .row.container-fluid
  div.propichome.col-xs-4.col-sm-4.col-md-2.col-md-offset-3(style="background-image:url('#{user.profile.picture}')")
  div.profile.col-xs-8.col-sm-8.col-md-3
    ul
      li.about About:
      li #{user.profile.about}
      li.post Posts: #{postno}
      li.subscribing Subscribe: #{subscribe}
      li.followers Followers: #{followers}

 .row.container-fluid
    if (postno==0)
      .nopost.col-sm-12.col-xs-12.col-md-6.col-md-offset-3
          h1 //
          h1 Go to the Editor and
          h1 Start your first new post! :)
          h1 //
   -var ob = json
   -for(var prop in ob)
       div.quotepic.col-xs-12.col-sm-12.col-md-6.col-md-offset-3

        span.trash.glyphicon.glyphicon-trash(aria-hidden='true')
        span.bookmark.glyphicon.glyphicon-bookmark(aria-hidden='true') #{ob[prop].bookmarked.length}
        img(class='quotesimg' data='#{ob[prop].quote_pic}' src="/#{ob[prop].quote_pic}")
       div.content.col-xs-12.col-sm-12.col-md-6.col-md-offset-3
          .row
            blockquote
              p
                | #{ob[prop].captions}
          .row
            p
              span.spanstyle #{ob[prop].tags}
              span.spanstyle #{ob[prop].author}
              span.spanstyle #{ob[prop].title}

            span.date #{ob[prop].createdAt}
            hr




block script
  script.
    $( document ).ready(function() {
      $('.trash').click(function(event) {
        event.stopPropagation();
        var quotetodelete=$(event.target).parent().find($('img'));
        var quote_pic_name= quotetodelete.attr('data');
        console.log(quote_pic_name);
        $.ajax({
         method: "DELETE",
         url: "/post/delete",
         data: {
           quoteFilename: quote_pic_name,
           '_csrf': $( "meta[name='csrf-token']").attr('content')
         },
         success: function(response){
                       window.location.href = "/home";
                  }
     }, false);
        });
    });




